{% extends "app/base.html" %}

{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.7/chartjs-plugin-annotation.js"></script>

<ul class="nav nav-tabs">
    <li><a href={% url 'home' %}>Home</a></li>
    <li class="active"><a href={% url 'analysis' %}>Analysis</a></li>
    <li><a href={% url 'prediction' %}>Prediction</a></li>
    <li><a href={% url 'configuration' %}>Configuration</a></li>
  </ul>

  <div id="content">
      <div class="container">
          <br /><br />
          <div class="row">
              <div class="col-sm-9">
                <div id="chart">
                    Chart placeholder <br />
                    {{ data }}
                    <canvas id="pm1" width="800" height="150"></canvas>
                    <canvas id="pm25" width="800" height="150"></canvas>
                    <canvas id="pm10" width="800" height="150"></canvas>
                    <canvas id="temp" width="800" height="150"></canvas>
                    <canvas id="pressure" width="800" height="150"></canvas>
                    <canvas id="humidity" width="800" height="150"></canvas>
                    <canvas id="wind_speed" width="800" height="150"></canvas>
                    <canvas id="wind_degree" width="800" height="150"></canvas>
                    <canvas id="clouds" width="800" height="150"></canvas>
                </div>
              </div>
              <div class="col-sm-3">
                <div id="side-panel">
                    <div id="description" class="row">
                        <h4>Analysis information</h4>
                        {% for info_line in info %}
                            <li>{{ info_line }}</li>
                        {% endfor %}
                    </div>
                    <!-- delete these br's later -->
                    <br /><br /><br /><br /><br /><br /><br /><br /><br />
                    <div id="buttons" class="row">
                        <a href={% url 'analysis_generate' %} class="btn btn-primary btn-block" role="button">Generate for...</a>
                        <br />
                        <a href="#" class="btn btn-primary btn-block" role="button">Email copy</a>
                        <br />
                        <a href="#" class="btn btn-primary btn-block" role="button">Refresh</a>
                        <br />
                        <a href="#" class="btn btn-primary btn-block" role="button">Export</a>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

<script type="text/javascript">
    var data = JSON.parse('{{ data | escapejs }}');
    console.log(data);

    var pm10 = new Chart(document.getElementById('pm10'), {
        type: 'line',
        data: {

        },
        options: {
            responsive: true,
            title: {
                display: true,
                text: 'PM10'
            },
            tooltips: {
                mode: 'index',
                intersect: true
            },
            annotation: {
                annotations: [{
                    type: 'line',
                    mode: 'horizontal',
                    scaleID: 'y-axis-0',
                    value: data.pm10_norm,
                    borderColor: 'rgb(255, 0, 0)',
                    borderWidth: 4,
                    label: {
                        enabled: false,
                        content: 'Norm'
                    }
                }]
            }
        }
    })
  </script>

  {% endblock %}