.logout-message {
    text-align: center;
    margin: 20vh auto;
}

.form-element {
    margin: 10px auto;
}

.form-message {
}

.form-container {
    text-align: center;
    max-width: 300px;
    margin: 20vh auto;
}

.form-group {
    margin: 0 auto;
}