{% extends "app/base.html" %} {% block content %}

<ul class="nav nav-tabs">
    <li>
        <a href={% url 'home' %}>Home</a>
    </li>
    <li class="dropdown active">
        <a class="dropdown-toggle" data-toggle="dropdown" href={% url 'analysis' %}>Analysis
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href={% url 'analysis_user' %}>User</a>
            </li>
            <li>
                <a href={% url 'analysis_group' %}>Group</a>
            </li>
            <li>
                <a href={% url 'analysis_generate' %}>Custom</a>
            </li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href={% url 'prediction' %}>Prediction
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href={% url 'prediction_user' %}>User</a>
            </li>
            <li>
                <a href={% url 'prediction_group' %}>Group</a>
            </li>
            <li>
                <a href={% url 'prediction_generate' %}>Custom</a>
            </li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href={% url 'configuration' %}>Configuration
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href={% url 'configuration_user' %}>User</a>
            </li>
            <li>
                <a href={% url 'configuration_group' %}>Group</a>
            </li>
        </ul>
    </li>
</ul>

<div id="content">
    <center>
        <br /><br /><br />
        You are not a member of any group. <br />
        Please proceed to <b>Configuration</b> to create new or join existing group.
    </center>>
</div>

{% endblock %}