{% extends "app/base.html" %} {% block content %}

<div id="content">
    <center>
        <div class="custom-form">
            <h2>Generate for</h2>
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
            <form method="get" action={% url 'analysis_custom' %}>
                <table>
                    {% for field in form %}
                    <div class="form-group">
                        <tr>
                            <td>{{ field.label_tag }}</td>
                            <td>{{ field }}</td>
                        </tr>
                    </div>
                    {% endfor %}
                </table>
                <button class="btn btn-primary btn-single">Generate</button>
            </form>
        </div>
    </center>
</div>

{% endblock %}