{% extends "app/base.html" %} {% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.7/chartjs-plugin-annotation.js"></script>

<ul class="nav nav-tabs">
    <li>
        <a href={% url 'home' %}>Home</a>
    </li>
    <li class="dropdown active">
        <a class="dropdown-toggle" data-toggle="dropdown" href={% url 'analysis' %}>Analysis
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href={% url 'analysis_user' %}>User</a>
            </li>
            <li>
                <a href={% url 'analysis_group' %}>Group</a>
            </li>
            <li>
                <a href={% url 'analysis_generate' %}>Custom</a>
            </li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href={% url 'prediction' %}>Prediction
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href={% url 'prediction_user' %}>User</a>
            </li>
            <li>
                <a href={% url 'prediction_group' %}>Group</a>
            </li>
            <li>
                <a href={% url 'prediction_generate' %}>Custom</a>
            </li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href={% url 'configuration' %}>Configuration
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href={% url 'configuration_user' %}>User</a>
            </li>
            <li>
                <a href={% url 'configuration_group' %}>Group</a>
            </li>
        </ul>
    </li>
</ul>

<div id="content">
    <div class="container">
        <br />
        <br />
        <div class="row">
            <div class="col-sm-9">
                <div id="chart">
                    <canvas id="pm1" width="800" height="200"></canvas>
                    <canvas id="pm25" width="800" height="200"></canvas>
                    <canvas id="pm10" width="800" height="200"></canvas>
                    <canvas id="temperature" width="800" height="200"></canvas>
                    <canvas id="pressure" width="800" height="200"></canvas>
                    <canvas id="humidity" width="800" height="150"></canvas>
                    <canvas id="wind_speed" width="800" height="150"></canvas>
                    <canvas id="wind_degree" width="800" height="150"></canvas>
                    <canvas id="clouds" width="800" height="150"></canvas>
                </div>
            </div>
            <div class="col-sm-3">
                <div id="side-panel">
                    <div id="buttons" class="row">
                        <a href="#" class="btn btn-primary btn-block" role="button">Email copy</a>
                        <br />
                        <a href="#" class="btn btn-primary btn-block" role="button">Refresh</a>
                        <br />
                        <a href="#" id="btn-export" class="btn btn-primary btn-block" role="button" download="analysis.png">Export</a>
                    </div>
                    <div id="description" class="row">
                        <h4>Analysis information</h4>
                        {% for info_line in info %}
                        <li>{{ info_line }}</li>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var data = JSON.parse('{{ data | escapejs }}');

    var canvases = [document.getElementById('pm1'),
    document.getElementById('pm25'),
    document.getElementById('pm10'),
    document.getElementById('temperature'),
    document.getElementById('pressure'),
    document.getElementById('humidity'),
    document.getElementById('wind_speed'),
    document.getElementById('wind_degree'),
    document.getElementById('clouds')];

    /* Hide unused canvas */
    canvases.map(c => c.style.display = Object.keys(data[c.id]).length === 0 ? "none" : "block")

    /* Helper functions */
    function getFullChartWidth() {
        return Math.max.apply(null, canvases.map(c => c.width));
    }

    function getFullChartHeight() {
        return canvases.filter(c => c.style.display != 'none').map(c => c.height).reduce((a, b) => a + b, 0);
    }

    /* Add export button handler */
    var exportBtn = document.getElementById('btn-export');
    exportBtn.addEventListener('click', function (e) {
        var canvas = document.createElement('canvas');
        var ctx = canvas.getContext('2d');
        canvas.width = getFullChartWidth();
        canvas.height = getFullChartHeight();
        ctx.fillStyle = "white";
        ctx.fillRect(0, 0, canvas.width, canvas.height);
        var tempY = 0;
        for (var i = 0; i < canvases.length; i++) {
            if (canvases[i].style.display != 'none') {
                ctx.drawImage(canvases[i], 0, tempY);
                tempY = tempY + canvases[i].height;
            }
        }
        var dataUrl = canvas.toDataURL('image/png');
        exportBtn.href = dataUrl;
    });

    /* TODO: Remove duplicate code */

    /* PM1 */
    var pm1 = new Chart(document.getElementById('pm1'), {
        type: 'line',
        data: {
            labels: Object.keys(data.pm1),
            datasets: [{
                data: Object.values(data.pm1),
                fill: false,
                borderColor: 'rgba(0,0,0,0.6)'
            }]
        },
        options: {
            legend: {
                display: false
            },
            responsive: true,
            title: {
                display: true,
                text: 'PM1'
            },
            tooltips: {
                mode: 'index',
                intersect: true
            },
            scales: {
                xAxes: [{
                    type: 'time',
                    distribution: 'linear',
                    time: {
                        unit: 'day'
                    }
                }],
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'PM1 (\xB5g/m\xB3)'
                    },
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    })

    /* PM25 */
    var pm25 = new Chart(document.getElementById('pm25'), {
        type: 'line',
        data: {
            labels: Object.keys(data.pm25),
            datasets: [{
                data: Object.values(data.pm25),
                fill: false,
                borderColor: 'rgba(0,0,0,0.6)'
            }]
        },
        options: {
            legend: {
                display: false
            },
            responsive: true,
            title: {
                display: true,
                text: 'PM2.5'
            },
            tooltips: {
                mode: 'index',
                intersect: true
            },
            annotation: {
                annotations: [{
                    type: 'line',
                    mode: 'horizontal',
                    scaleID: 'y-axis-0',
                    value: data.pm25_norm,
                    borderColor: 'rgb(255, 0, 0)',
                    borderWidth: 2,
                    label: {
                        enabled: false,
                        content: 'Norm',
                        position: 'right'
                    }
                }]
            },
            scales: {
                xAxes: [{
                    type: 'time',
                    distribution: 'linear',
                    time: {
                        unit: 'day'
                    }
                }],
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'PM2.5 (\xB5g/m\xB3)',
                        ticks: {
                            beginAtZero: true
                        }
                    },
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    })

    /* PM10 */
    var pm10 = new Chart(document.getElementById('pm10'), {
        type: 'line',
        data: {
            labels: Object.keys(data.pm10),
            datasets: [{
                data: Object.values(data.pm10),
                fill: false,
                borderColor: 'rgba(0,0,0,0.6)'
            }]
        },
        options: {
            legend: {
                display: false
            },
            responsive: true,
            title: {
                display: true,
                text: 'PM10'
            },
            tooltips: {
                mode: 'index',
                intersect: true
            },
            annotation: {
                annotations: [{
                    type: 'line',
                    mode: 'horizontal',
                    scaleID: 'y-axis-0',
                    value: data.pm10_norm,
                    borderColor: 'rgb(255, 0, 0)',
                    borderWidth: 2,
                    label: {
                        enabled: false,
                        content: 'Norm',
                        position: 'right'
                    }
                }]
            },
            scales: {
                xAxes: [{
                    type: 'time',
                    distribution: 'linear',
                    time: {
                        unit: 'day'
                    }
                }],
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'PM10 (\xB5g/m\xB3)'
                    },
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    })

    /* TEMPERATURE */
    var temperature = new Chart(document.getElementById('temperature'), {
        type: 'line',
        data: {
            labels: Object.keys(data.temperature),
            datasets: [{
                data: Object.values(data.temperature),
                fill: false,
                borderColor: 'rgba(0,0,0,0.6)'
            }]
        },
        options: {
            legend: {
                display: false
            },
            responsive: true,
            title: {
                display: true,
                text: 'Temperature'
            },
            tooltips: {
                mode: 'index',
                intersect: true
            },
            scales: {
                xAxes: [{
                    type: 'time',
                    distribution: 'linear',
                    time: {
                        unit: 'day'
                    }
                }],
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Temperature (\xB0C)'
                    }
                }]
            }
        }
    })

    /* PRESSURE */
    var pressure = new Chart(document.getElementById('pressure'), {
        type: 'line',
        data: {
            labels: Object.keys(data.pressure),
            datasets: [{
                data: Object.values(data.pressure),
                fill: false,
                borderColor: 'rgba(0,0,0,0.6)'
            }]
        },
        options: {
            legend: {
                display: false
            },
            responsive: true,
            title: {
                display: true,
                text: 'Pressure'
            },
            tooltips: {
                mode: 'index',
                intersect: true
            },
            scales: {
                xAxes: [{
                    type: 'time',
                    distribution: 'linear',
                    time: {
                        unit: 'day'
                    }
                }],
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Pressure (hPa)'
                    }
                }]
            }
        }
    })

    /* HUMIDITY */
    var humidity = new Chart(document.getElementById('humidity'), {
        type: 'bar',
        data: {
            labels: Object.keys(data.humidity),
            datasets: [{
                data: Object.values(data.humidity),
                fill: false,
                backgroundColor: 'rgb(128,128,128)'
            }]
        },
        options: {
            legend: {
                display: false
            },
            responsive: true,
            title: {
                display: true,
                text: 'Humidity'
            },
            tooltips: {
                mode: 'index',
                intersect: true
            },
            scales: {
                xAxes: [{
                    type: 'time',
                    distribution: 'linear',
                    time: {
                        unit: 'day'
                    },
                    categoryPercentage: 1.0,
                    barPercentage: 1.0
                }],
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: '% of humidity'
                    },
                    ticks: {
                        beginAtZero: true,
                        max: 100
                    }
                }]
            }
        }
    })

    /* WIND SPEED */
    var wind_speed = new Chart(document.getElementById('wind_speed'), {
        type: 'line',
        data: {
            labels: Object.keys(data.wind_speed),
            datasets: [{
                data: Object.values(data.wind_speed),
                fill: false,
                borderColor: 'rgba(0,0,0,0.6)'
            }]
        },
        options: {
            legend: {
                display: false
            },
            responsive: true,
            title: {
                display: true,
                text: 'Wind speed'
            },
            tooltips: {
                mode: 'index',
                intersect: true
            },
            scales: {
                xAxes: [{
                    type: 'time',
                    distribution: 'linear',
                    time: {
                        unit: 'day'
                    }
                }],
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Speed (m/s)'
                    },
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    })

    /* WIND DIRECTION */
    var wind_degree = new Chart(document.getElementById('wind_degree'), {
        type: 'line',
        data: {

        },
        options: {
            responsive: true,
            title: {
                display: true,
                text: 'Wind direction'
            },
            tooltips: {
                mode: 'index',
                intersect: true
            },
            scales: {
                xAxes: [{
                    display: false
                }],
                yAxes: [{
                    display: false
                }]
            }
        }
    })

    /* CLOUDS */
    var clouds = new Chart(document.getElementById('clouds'), {
        type: 'bar',
        data: {
            labels: Object.keys(data.clouds),
            datasets: [{
                data: Object.values(data.clouds),
                fill: false,
                backgroundColor: 'rgb(128,128,128)'
            }]
        },
        options: {
            legend: {
                display: false
            },
            responsive: true,
            title: {
                display: true,
                text: 'Clouds'
            },
            tooltips: {
                mode: 'index',
                intersect: true
            },
            scales: {
                xAxes: [{
                    type: 'time',
                    distribution: 'linear',
                    time: {
                        unit: 'day'
                    },
                    categoryPercentage: 1.0,
                    barPercentage: 1.0
                }],
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: '% of cloudiness'
                    },
                    ticks: {
                        beginAtZero: true,
                        max: 100
                    }
                }]
            }
        }
    })
</script> {% endblock %}