{% extends "app/base.html" %}

{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.7/chartjs-plugin-annotation.js"></script>

<ul class="nav nav-tabs">
    <li><a href={% url 'home' %}>Home</a></li>
    <li class="active"><a href={% url 'analysis' %}>Analysis</a></li>
    <li><a href={% url 'prediction' %}>Prediction</a></li>
    <li><a href={% url 'configuration' %}>Configuration</a></li>
  </ul>

  <div id="content">
      <div class="container">
          <br /><br />
          <div class="row">
              <div class="col-sm-9">
                <div id="chart">
                    <canvas id="pm1" width="800" height="200"></canvas>
                    <canvas id="pm25" width="800" height="200"></canvas>
                    <canvas id="pm10" width="800" height="200"></canvas>
                    <canvas id="temp" width="800" height="200"></canvas>
                    <canvas id="pressure" width="800" height="200"></canvas>
                    <canvas id="humidity" width="800" height="150"></canvas>
                    <canvas id="wind_speed" width="800" height="150"></canvas>
                    <canvas id="wind_degree" width="800" height="150"></canvas>
                    <canvas id="clouds" width="800" height="150"></canvas>  
                </div>
              </div>
              <div class="col-sm-3">
                <div id="side-panel">
                    <div id="description" class="row">
                        <h4>Analysis information</h4>
                        {% for info_line in info %}
                            <li>{{ info_line }}</li>
                        {% endfor %}
                    </div>
                    <!-- delete these br's later -->
                    <br /><br /><br /><br /><br /><br /><br /><br /><br />
                    <div id="buttons" class="row">
                        <a href={% url 'analysis_generate' %} class="btn btn-primary btn-block" role="button">Generate for...</a>
                        <br />
                        <a href="#" class="btn btn-primary btn-block" role="button">Email copy</a>
                        <br />
                        <a href="#" class="btn btn-primary btn-block" role="button">Refresh</a>
                        <br />
                        <a href="#" class="btn btn-primary btn-block" role="button">Export</a>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

<script type="text/javascript">
    var data = JSON.parse('{{ data | escapejs }}');

    /* Hide unused canvas */
    function getDisplayOption(factor) {
        return Object.keys(factor).length === 0 ? "none" : "block";
    }
    document.getElementById("pm1").style.display = getDisplayOption(data.pm1);
    document.getElementById("pm25").style.display = getDisplayOption(data.pm25);
    document.getElementById("pm10").style.display = getDisplayOption(data.pm10);
    document.getElementById("temp").style.display = getDisplayOption(data.temp);
    document.getElementById("pressure").style.display = getDisplayOption(data.pressure);
    document.getElementById("humidity").style.display = getDisplayOption(data.humidity);
    document.getElementById("wind_speed").style.display = getDisplayOption(data.wind_speed);
    document.getElementById("wind_degree").style.display = getDisplayOption(data.wind_degree);
    document.getElementById("clouds").style.display = getDisplayOption(data.clouds);

    /* TODO: Remove duplicate code */

    /* PM1 */
    var pm1 = new Chart(document.getElementById('pm1'), {
        type: 'line',
        data: {
            labels: Object.keys(data.pm1),
            datasets: [{
                data: Object.values(data.pm1),
                fill: false,
                borderColor: 'rgba(0,0,0,0.6)'
            }]
        },
        options: {
            legend: {
                display: false
            },
            responsive: true,
            title: {
                display: true,
                text: 'PM1'
            },
            tooltips: {
                mode: 'index',
                intersect: true
            },
            scales: {
                xAxes: [{
                    type: 'time',
                    distribution: 'linear',
                    time: {
                        unit: 'day'
                    }
                }],
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'PM1 (\xB5g/m\xB3)'
                    },
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    })

    /* PM25 */
    var pm25 = new Chart(document.getElementById('pm25'), {
        type: 'line',
        data: {
            labels: Object.keys(data.pm25),
            datasets: [{
                data: Object.values(data.pm25),
                fill: false,
                borderColor: 'rgba(0,0,0,0.6)'
            }]
        },
        options: {
            legend: {
                display: false
            },
            responsive: true,
            title: {
                display: true,
                text: 'PM2.5'
            },
            tooltips: {
                mode: 'index',
                intersect: true
            },
            annotation: {
                annotations: [{
                    type: 'line',
                    mode: 'horizontal',
                    scaleID: 'y-axis-0',
                    value: data.pm25_norm,
                    borderColor: 'rgb(255, 0, 0)',
                    borderWidth: 2,
                    label: {
                        enabled: false,
                        content: 'Norm',
                        position: 'right'
                    }
                }]
            },
            scales: {
                xAxes: [{
                    type: 'time',
                    distribution: 'linear',
                    time: {
                        unit: 'day'
                    }
                }],
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'PM2.5 (\xB5g/m\xB3)',
                        ticks: {
                            beginAtZero: true
                        }
                    },
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    })

    /* PM10 */
    var pm10 = new Chart(document.getElementById('pm10'), {
        type: 'line',
        data: {
            labels: Object.keys(data.pm10),
            datasets: [{
                data: Object.values(data.pm10),
                fill: false,
                borderColor: 'rgba(0,0,0,0.6)'
            }]
        },
        options: {
            legend: {
                display: false
            },
            responsive: true,
            title: {
                display: true,
                text: 'PM10'
            },
            tooltips: {
                mode: 'index',
                intersect: true
            },
            annotation: {
                annotations: [{
                    type: 'line',
                    mode: 'horizontal',
                    scaleID: 'y-axis-0',
                    value: data.pm10_norm,
                    borderColor: 'rgb(255, 0, 0)',
                    borderWidth: 2,
                    label: {
                        enabled: false,
                        content: 'Norm',
                        position: 'right'
                    }
                }]
            },
            scales: {
                xAxes: [{
                    type: 'time',
                    distribution: 'linear',
                    time: {
                        unit: 'day'
                    }
                }],
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'PM10 (\xB5g/m\xB3)'
                    },
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    })

    /* TEMPERATURE */
    var temp = new Chart(document.getElementById('temp'), {
        type: 'line',
        data: {
            labels: Object.keys(data.temp),
            datasets: [{
                data: Object.values(data.temp),
                fill: false,
                borderColor: 'rgba(0,0,0,0.6)'
            }]
        },
        options: {
            legend: {
                display: false
            },
            responsive: true,
            title: {
                display: true,
                text: 'Temperature'
            },
            tooltips: {
                mode: 'index',
                intersect: true
            },
            scales: {
                xAxes: [{
                    type: 'time',
                    distribution: 'linear',
                    time: {
                        unit: 'day'
                    }
                }],
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Temperature (\xB0C)'
                    }
                }]
            }
        }
    })

    /* PRESSURE */
    var pressure = new Chart(document.getElementById('pressure'), {
        type: 'line',
        data: {
            labels: Object.keys(data.pressure),
            datasets: [{
                data: Object.values(data.pressure),
                fill: false,
                borderColor: 'rgba(0,0,0,0.6)'
            }]
        },
        options: {
            legend: {
                display: false
            },
            responsive: true,
            title: {
                display: true,
                text: 'Pressure'
            },
            tooltips: {
                mode: 'index',
                intersect: true
            },
            scales: {
                xAxes: [{
                    type: 'time',
                    distribution: 'linear',
                    time: {
                        unit: 'day'
                    }
                }],
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Pressure (hPa)'
                    }
                }]
            }
        }
    })

    /* HUMIDITY */
    var humidity = new Chart(document.getElementById('humidity'), {
        type: 'bar',
        data: {
            labels: Object.keys(data.humidity),
            datasets: [{
                data: Object.values(data.humidity),
                fill: false
            }]
        },
        options: {
            legend: {
                display: false
            },
            responsive: true,
            title: {
                display: true,
                text: 'Humidity'
            },
            tooltips: {
                mode: 'index',
                intersect: true
            },
            scales: {
                xAxes: [{
                    type: 'time',
                    distribution: 'linear',
                    time: {
                        unit: 'day'
                    },
                    categoryPercentage: 1.0,
                    barPercentage: 1.0
                }],
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: '% of humidity'
                    },
                    ticks: {
                        beginAtZero: true,
                        max: 100
                    }
                }]
            }
        }
    })

    /* WIND SPEED */
    var wind_speed = new Chart(document.getElementById('wind_speed'), {
        type: 'line',
        data: {
            labels: Object.keys(data.wind_speed),
            datasets: [{
                data: Object.values(data.wind_speed),
                fill: false,
                borderColor: 'rgba(0,0,0,0.6)'
            }]
        },
        options: {
            legend: {
                display: false
            },
            responsive: true,
            title: {
                display: true,
                text: 'Wind speed'
            },
            tooltips: {
                mode: 'index',
                intersect: true
            },
            scales: {
                xAxes: [{
                    type: 'time',
                    distribution: 'linear',
                    time: {
                        unit: 'day'
                    }
                }],
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Speed (m/s)'
                    },
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    })

    /* WIND DIRECTION */
    var wind_degree = new Chart(document.getElementById('wind_degree'), {
        type: 'line',
        data: {

        },
        options: {
            responsive: true,
            title: {
                display: true,
                text: 'Wind direction'
            },
            tooltips: {
                mode: 'index',
                intersect: true
            },
            scales:{
                xAxes: [{
                    display: false
                }],
                yAxes: [{
                    display: false
                }]
            }
        }
    })

    /* CLOUDS */
    var clouds = new Chart(document.getElementById('clouds'), {
        type: 'bar',
        data: {
            labels: Object.keys(data.clouds),
            datasets: [{
                data: Object.values(data.clouds),
                fill: false,
                borderColor: 'rgba(0,0,0,0.6)'
            }]
        },
        options: {
            legend: {
                display: false
            },
            responsive: true,
            title: {
                display: true,
                text: 'Clouds'
            },
            tooltips: {
                mode: 'index',
                intersect: true
            },
            scales: {
                xAxes: [{
                    type: 'time',
                    distribution: 'linear',
                    time: {
                        unit: 'day'
                    },
                    categoryPercentage: 1.0,
                    barPercentage: 1.0
                }],
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: '% of cloudiness'
                    },
                    ticks: {
                        beginAtZero: true,
                        max: 100
                    }
                }]
            }
        }
    })
  </script>

  {% endblock %}