{% extends "app/base.html" %}

{% load static %}
{% block additional_css %}
    <link rel="stylesheet" href={% static 'app/user/auth.css' %}>
    <link rel="stylesheet" href={% static 'app/forms.css' %}>
{% endblock additional_css %}

{% block content %}

    <div id="content">
        <div class="form-container-conf">
            <h2>Configuration for group {{ group_name }}</h2>
            <form method="post" action={% url 'configuration_group' %}>
                <div class="shadow p-3 mb-5 bg-light rounded form-container-left">
                    <h3 class="form-element form-title">Analysis configuration</h3>
                    {% csrf_token %}
                    {% for field in analysis_configuration %}
                        <div class="form-group">
                            {% if field.field.is_checkbox %}
                                <div class="form-checkbox-line">
                                    {{ field }}
                                    <label class="form-check-label" for="{{ field.name }}">{{ field.label }}</label>
                                </div>
                            {% else %}
                                <div class="form-element">
                                    {{ field }}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    {% if analysis_configuration.errors %}
                        {% for field in analysis_configuration %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger form-element">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in analysis_configuration.non_field_errors %}
                            <div class="alert alert-danger form-element">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="shadow p-3 mb-5 bg-light rounded form-container-right">
                    <h3 class="form-element form-title">Prediction configuration</h3>
                    {% csrf_token %}
                    {% for field in prediction_configuration %}
                        <div class="form-group">
                            {% if field.field.is_checkbox %}
                                <div class="form-checkbox-line">
                                    {{ field }}
                                    <label class="form-check-label" for="{{ field.name }}">{{ field.label }}</label>
                                </div>
                            {% else %}
                                <div class="form-element">
                                    {{ field }}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    {% if prediction_configuration.errors %}
                        {% for field in prediction_configuration %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger form-element">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in prediction_configuration.non_field_errors %}
                            <div class="alert alert-danger form-element">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <button class="btn btn-secondary btn-lg custom-button">Save configuration</button>

            </form>
            <form method="post" action={% url 'configuration_group_leave' %}>
                {% csrf_token %}
                <button class="form-element btn btn-secondary btn-lg custom-button" >Leave group</button>
            </form>
        </div>
    </div>

{% endblock %}

