{% extends "app/base.html" %}

{% load static %}
{% block additional_css %}
    <link rel="stylesheet" href={% static 'app/css/forms.css' %}>
{% endblock additional_css %}

{% block content %}

    <div id="content">
        <div>
            <div class="form-container">
                <div class="shadow p-3 mb-5 bg-light rounded">
                    <h3 class="form-element form-title">Provide key for group {{ group_name }}</h3>
                    <form method="post" action={% url 'configuration_group_join' %}>
                        {% csrf_token %}
                        <input type="hidden" value={{ group_name }} name="group_name">
                        <div class="form-group">
                            <input type="text" class="form-control" name="group_key">
                        </div>
                        <button class="btn btn-secondary custom-button btn-lg form-element">Join
                        </button>
                    </form>

                    {% if form.errors %}
                        <div class="alert alert-danger form-element">Invalid username or password, please try again
                        </div>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>

{% endblock %}