{% extends "app/base.html" %} {% block content %}

    {% load static %}
    {% block additional_css %}
        <link rel="stylesheet" href={% static 'app/groups.css' %}>
    {% endblock additional_css %}

    <div id="content">
        <div class="blank-page-info-text">
            You are already a member of group {{ group_name }}.<br/>
            You cannot be a member of multiple groups. <br/>
            If you want, you can <b><a class="group-link" href={% url 'configuration_group_leave' %}>leave</a></b> your
            current group.
        </div>
    </div>


{% endblock %}