{% extends "app/base.html" %} {% block content %}

<div id="content">
    <center>
        <br />
        <div style="width: 30%">
            <h4>Provide key for group {{ group_name }}</h4>
            <form method="post" action={% url 'configuration_group_join' %}>
                {% csrf_token %}
                <input type="hidden" value={{ group_name }} name="group_name">
                <table>
                    <div class="form-group">
                        <tr>
                            <td style="text-align: left;">Key</td>
                            <td style="text-align: left;"><input type="text" name="group_key"></td>
                        </tr>
                    </div>
                </table>
                <button class="btn btn-primary btn-lg" style="width: 100%">Join</button>
            </form>
        </div>
    </center>
</div>

{% endblock %}