{% extends "app/base.html" %} {% block content %}

<div id="content">
    <center>
        <h2>Configuration for group {{ group_name }}</h2>
        <form method="post" action={% url 'configuration_group' %}>
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-4">
                    <h3>Analysis configuration</h3>
                    {% if analysis_configuration.errors %}
                        {% for field in analysis_configuration %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in analysis_configuration.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <table>
                        {% for field in analysis_configuration %}
                        <div class="form-group">
                            <tr>
                                <td style="text-align: left;">{{ field.label_tag }}</td>
                                <td style="text-align: left;">{{ field }}</td>
                            </tr>
                        </div>
                        {% endfor %}
                    </table>
                </div>
                <div class="col-sm-4">
                    <h3>Prediction configuration</h3>
                    {% if prediction_configuration.errors %}
                        {% for field in prediction_configuration %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in prediction_configuration.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <table>
                        {% for field in prediction_configuration %}
                        <div class="form-group">
                            <tr>
                                <td style="text-align: left;">{{ field.label_tag }}</td>
                                <td style="text-align: left;">{{ field }}</td>
                            </tr>
                        </div>
                        {% endfor %}
                    </table>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <hr />
            <button class="btn btn-primary btn-lg" style="width: 40%">Save configuration</button>
        </form>
        <br />
        <form method="post" action={% url 'configuration_group_leave' %}>
            {% csrf_token %}
            <button class="btn btn-primary btn-lg" style="width:40%">Leave group</button>
        </form>
    </center>
</div>

{% endblock %}