{% extends "app/base.html" %}
{% load static %}
{% block additional_css %}
    <link rel="stylesheet" href={% static 'app/css/home.css' %}>
    <link rel="stylesheet" href={% static 'app/css/forms.css' %}>
{% endblock additional_css %}

{% block content %}

    <div id="content">
        <h2 class="home-welcome">Air quality analysis application</h2>
        <div class="form-container">
            <div class="shadow p-3 mb-5 bg-light rounded">
                <form action={% url 'guest_generate' %}>
                    <div class="form-group">
                        <h3 class="form-title form-element">Just provide an address!</h3>
                        <input type="text" id="location" placeholder="Address" name="location"
                               class="form-control form-element">
                        <button id="try-it-yourself" class="btn btn-secondary btn-lg custom-button form-element">Try it
                            yourself!
                        </button>
                        {% if error %}
                            <div class="alert alert-danger form-element">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{% static 'app/js/guest.js' %}"></script>

{% endblock %}