{% extends "app/base.html" %}

{% load static %}
{% block additional_css %}
    <link rel="stylesheet" href={% static 'app/home.css' %}>
    <link rel="stylesheet" href={% static 'app/forms.css' %}>
{% endblock additional_css %}

{% block content %}


    <div id="content">
        <div class="home-welcome">
            <h2>Welcome to RQA!</h2>
            <h3>Air Quality Analysis application</h3>
            Press
            <b>Analysis</b> for air quality analysis.
            <br/> Press
            <b>Prediction</b> for air quality prediction.
            <br/> Press
            <b>Configuration</b> to view and edit your user configuration.
        </div>
    </div>

{% endblock %}