
.auth-button {
    margin: 5px 10px 5px 10px;
}

.dropdown {
    display: inline-block;
}

.dropdown-item:focus {
    background-color: #5E5694;

}

.navbar {
    max-width: 1220px;
    margin: 0 auto;
}

.navbar-container {
    background-color: #5E5694;
}

.navbar-item {
    padding-left: 10px;
    padding-right: 10px;
}

.title {
    display: inline-block;
    color: #ffffff;
    font-weight: bolder;
    text-decoration: none;
}

.title:hover {
    color: #e2e6ea;
    text-decoration: none;
}