th {
    text-align: center;
}
td {
    text-align: left;
    padding: 5px;
}
.bar {
    border-bottom: 3px solid black;
}
.btn-single {
    width: 100%;
}
.custom-form {
    width: 30%;
}
.title {
    display: inline-block;
}
.auth-buttons {
    float: right;
    margin: 20px;
}